<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @task.id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.state %>
</p>

<%= link_to 'Ranking Tasks', reports_ranking_tasks_path %>
